/.env
/.venv
*.pyc
*.swp
CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
Testing/
Thumbs.db
cmake_install.cmake
**/report/_minted*
**/report/*.aux
**/report/*.fdb_latexmk
**/report/*.fls
**/report/*.log
**/report/*.ps

